In [1]:
import pandas as pd

In [2]:
import pandas as pd
file = 'C:/Users/danie/Downloads/Teste Estagio/Teste_Phyton/Input_Teste_Python_exercicio 3.xlsx'
df = pd.read_excel(file)

df.head()

,Unnamed: 0,User Name,First Name,Last Name,Email,Department,Workstation,Start Time,End Time,Vendor,Server,License Type,Feature,Version,Additional Key,Borrowed,IP,Consumed Tokens,Session ID
0,0,Bruno,Bruno,Bruno,Bruno@akaer.com.br,1877,3395,10/12/2022 13:29,2022-12-10 16:03:00,5920,4652,3217,Q5C,NaN,7869,3056,6829,6548,3617
1,1,Bruno,Bruno,Bruno,Bruno@akaer.com.br,1908,8900,10/12/2022 07:29,2022-12-10 13:03:00,4200,8411,3232,DER,NaN,2425,2552,1892,9413,3475
2,2,Bruno,Bruno,Bruno,Bruno@akaer.com.br,1997,6192,10/12/2022 15:29,2022-12-10 20:03:00,7648,4576,2705,EDR,NaN,3644,3762,7895,3161,4957
3,3,Emanuel,Emanuel,Emanuel,Emanuel@akaer.com.br,3059,5836,26/03/2022 13:01,2022-03-26 16:54:00,6676,4250,9172,mfg_mbm_author,NaN,8472,3448,7777,2396,9042
4,4,Emanuel,Emanuel,Emanuel,Emanuel@akaer.com.br,5589,8676,26/03/2022 05:01,2022-03-26 14:54:00,9341,8062,8739,FEA_PS_HUMAN,NaN,6124,5558,4255,8057,2827

In [3]:
import pandas as pd
import datetime

df = pd.read_excel(file)



df.groupby('User Name')['Start Time'].sum()

df.head()

,Unnamed: 0,User Name,First Name,Last Name,Email,Department,Workstation,Start Time,End Time,Vendor,Server,License Type,Feature,Version,Additional Key,Borrowed,IP,Consumed Tokens,Session ID
0,0,Bruno,Bruno,Bruno,Bruno@akaer.com.br,1877,3395,10/12/2022 13:29,2022-12-10 16:03:00,5920,4652,3217,Q5C,NaN,7869,3056,6829,6548,3617
1,1,Bruno,Bruno,Bruno,Bruno@akaer.com.br,1908,8900,10/12/2022 07:29,2022-12-10 13:03:00,4200,8411,3232,DER,NaN,2425,2552,1892,9413,3475
2,2,Bruno,Bruno,Bruno,Bruno@akaer.com.br,1997,6192,10/12/2022 15:29,2022-12-10 20:03:00,7648,4576,2705,EDR,NaN,3644,3762,7895,3161,4957
3,3,Emanuel,Emanuel,Emanuel,Emanuel@akaer.com.br,3059,5836,26/03/2022 13:01,2022-03-26 16:54:00,6676,4250,9172,mfg_mbm_author,NaN,8472,3448,7777,2396,9042
4,4,Emanuel,Emanuel,Emanuel,Emanuel@akaer.com.br,5589,8676,26/03/2022 05:01,2022-03-26 14:54:00,9341,8062,8739,FEA_PS_HUMAN,NaN,6124,5558,4255,8057,2827

df['Start Time'] = pd.to_datetime(df['Start Time'], format='%m/%d/%Y %H:%M')
df['Data'] = df[coluna_tempo].dt.date
df['Hora'] = df[coluna_tempo].dt.time

In [4]:
#passando as colunas Start time e End Time do formato Object para datetime
df['Start Time'] = pd.to_datetime(df['Start Time'], format='%d/%m/%Y %H:%M')
df['End Time'] = pd.to_datetime(df['End Time'], format='%Y-%m-%d %H:%M:%S')

#separando a data da hora
df['Data_entrada'] = df['Start Time'].dt.date 
df['Hora_entrada'] = df['Start Time'].dt.time

df['Data_saida'] = df['End Time'].dt.date
df['Hora_saida'] = df['End Time'].dt.time

#passando as horas pra string, para que possam ser convertidas para timedelta
df['Hora_entrada'] = df['Hora_entrada'].astype(str)
df['Hora_saida'] = df['Hora_saida'].astype(str)


# Convertendo tempo para timedelta
df['Hora_entrada'] = pd.to_timedelta(df['Hora_entrada'])
df['Hora_saida'] = pd.to_timedelta(df['Hora_saida'])

Tempo_entrada = []
tempo_saida = []

tempo_entrada = df.groupby(['User Name', 'Data_entrada'])['Hora_entrada'].transform('sum')
tempo_saida = df.groupby(['User Name', 'Data_saida'])['Hora_saida'].transform('sum')

# print(tempo_saida)

tempo_total = tempo_saida - tempo_entrada
# print(tempo_entrada)
# df['Tempo_total'] = tempo_total
# df.head()
# print(tempo_entrada)

df1 = df.drop_duplicates(subset=['User Name', 'Data_entrada'])

df1['Tempo Total'] = tempo_total
# df1['tempo_total'] = df1['tempo_total'].dt.time
print(df1['Tempo Total'])
df1 = df1.drop(columns=['Unnamed: 0','Vendor','First Name', 'Last Name' ,'Department', 'Workstation', 'Vendor', 'Feature', 'Version', 'License Type', 'Server', 'Borrowed', 'Additional Key', 'IP', 'Consumed Tokens','End Time', 'Start Time', 'Session ID', 'Hora_saida', 'Data_saida', 'Hora_entrada' ])

df1.rename(columns={ 'Data_entrada': 'Data'}, inplace= True)
df1.head(30)

0     0 days 12:42:00
3     0 days 17:39:00
6     0 days 10:45:00
9     0 days 19:45:00
12    0 days 12:57:00
            ...
285   0 days 11:51:00
288   0 days 13:30:00
291   0 days 13:39:00
294   0 days 12:45:00
297   0 days 11:18:00
Name: Tempo Total, Length: 100, dtype: timedelta64[ns]

C:\Users\danie\AppData\Local\Temp\ipykernel_15340\1014194084.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Tempo Total'] = tempo_total

   User Name                  Email        Data     Tempo Total
0      Bruno     Bruno@akaer.com.br  2022-12-10 0 days 12:42:00
3    Emanuel   Emanuel@akaer.com.br  2022-03-26 0 days 17:39:00
6     Daniel    Daniel@akaer.com.br  2022-10-23 0 days 10:45:00
9      David     David@akaer.com.br  2022-11-27 0 days 19:45:00
12   Daniela   Daniela@akaer.com.br  2022-12-14 0 days 12:57:00
15     André     André@akaer.com.br  2022-05-24 0 days 10:18:00
18     Bruno     Bruno@akaer.com.br  2022-03-21 0 days 10:54:00
21     Aarão     Aarão@akaer.com.br  2022-04-09 0 days 15:18:00
24      Levi      Levi@akaer.com.br  2022-04-26 0 days 14:54:00
27  Fernanda  Fernanda@akaer.com.br  2022-11-04 0 days 16:39:00
30   Augusto   Augusto@akaer.com.br  2022-02-11 0 days 12:51:00
33      Levi      Levi@akaer.com.br  2022-03-18 0 days 16:45:00
36      Yuri      Yuri@akaer.com.br  2022-06-10 0 days 18:18:00
39     Tomás     Tomás@akaer.com.br  2022-03-15 0 days 14:48:00
42    Daniel    Daniel@akaer.com.br  2022-05-03 0 days 13:27:00
45    Ariana    Ariana@akaer.com.br  2022-05-26 0 days 11:45:00
48     Aarão     Aarão@akaer.com.br  2022-12-27 0 days 17:00:00
51    Débora    Débora@akaer.com.br  2022-08-27 0 days 14:21:00
54      Alan      Alan@akaer.com.br  2022-02-08 0 days 17:54:00
57    Calebe    Calebe@akaer.com.br  2022-10-24 0 days 11:00:00
60    Daniel    Daniel@akaer.com.br  2022-05-18 0 days 12:48:00
63   Juliana   Juliana@akaer.com.br  2022-05-18 0 days 10:18:00
66     André     André@akaer.com.br  2022-05-25 0 days 12:21:00
69   Micaela   Micaela@akaer.com.br  2022-11-13 0 days 16:54:00
72    Paloma    Paloma@akaer.com.br  2022-08-03 0 days 15:33:00
75    Samuel    Samuel@akaer.com.br  2022-03-13 0 days 13:30:00
78   Joaquim   Joaquim@akaer.com.br  2022-08-20 0 days 11:33:00
81      Levi      Levi@akaer.com.br  2022-10-09 0 days 18:48:00
84       Lia       Lia@akaer.com.br  2022-04-04 0 days 15:42:00
87      João      João@akaer.com.br  2022-07-15 0 days 08:36:00

In [9]:





df1.to_excel("output_exc3.xlsx", index= False)

df1.head()

   User Name                 Email        Data     Tempo Total
0      Bruno    Bruno@akaer.com.br  2022-12-10 0 days 12:42:00
3    Emanuel  Emanuel@akaer.com.br  2022-03-26 0 days 17:39:00
6     Daniel   Daniel@akaer.com.br  2022-10-23 0 days 10:45:00
9      David    David@akaer.com.br  2022-11-27 0 days 19:45:00
12   Daniela  Daniela@akaer.com.br  2022-12-14 0 days 12:57:00

KeyError: 'Tempo Total'