In [25]:
import pandas as pd

df = pd.read_excel("C:/Users/danie/Downloads/Teste Estagio/Teste_Phyton/Input_Teste_Python_Dados Exercicio 4 I.xlsx")
df_time = pd.read_excel("C:/Users/danie/Downloads/Teste Estagio/Teste_Phyton/Input_Teste_Python_Dados Exercício 4 II.xlsx")
# df.head()
df_time.head(30)

    Unnamed: 0   Usuario Hora Inicio Data Inicio Hora Termino Data Termino
0            0     Luana       08:38  2022-10-04     14:38:00   2022-10-06
1            1       Eva       01:17  2022-09-28     15:17:00   2022-10-02
2            2  Fernanda       09:57  2022-12-22     17:57:00   2022-12-29
3            3    Paloma       05:26  2022-03-04          NaN          NaN
4            4     Anita       01:04  2022-11-12     15:04:00   2022-11-16
5            5       Lia       01:35  2022-01-17     20:35:00   2022-02-01
6            6     Anita       07:32  2022-06-08     00:32:00   2022-06-15
7            7   Juliana       03:36  2022-10-10          NaN          NaN
8            8      Hugo       10:02  2022-06-17     07:02:00   2022-06-18
9            9     Luana       03:31  2022-08-22     17:31:00   2022-09-01
10          10   Micaela       04:15  2022-08-16     16:15:00   2022-08-23
11          11     Aarão       09:12  2022-01-09          NaN          NaN
12          12     André       01:43  2022-06-17     21:43:00   2022-06-21
13          13   Juliana       04:50  2022-11-20     15:50:00   2022-11-22
14          14      Hugo       02:28  2022-10-20     22:28:00   2022-10-25
15          15     André       02:14  2022-08-25          NaN          NaN
16          16     André       11:24  2022-01-15     04:24:00   2022-01-16
17          17     Tomás       04:51  2022-03-01     13:51:00   2022-03-10
18          18    Daniel       11:25  2022-07-22     23:25:00   2022-07-24
19          19    Calebe       03:40  2022-08-19          NaN          NaN
20          20       Lia       08:28  2022-06-24     19:28:00   2022-06-28
21          21    Calebe       09:13  2022-05-09     16:13:00   2022-05-10
22          22   Eduardo       05:22  2022-11-26     03:22:00   2022-12-08
23          23     Joana       01:00  2022-03-21          NaN          NaN
24          24      Yuri       05:15  2022-04-15     23:15:00   2022-04-21
25          25    Marina       06:33  2022-05-21     02:33:00   2022-05-22
26          26   Micaela       06:09  2022-05-07     01:09:00   2022-05-13
27          27      Levi       08:35  2022-07-16          NaN          NaN
28          28    Estela       10:30  2022-03-11     12:30:00   2022-03-11
29          29   Augusto       01:38  2022-08-11     06:38:00   2022-08-14

In [15]:
df.head(30)

    Unnamed: 0 User Name        Start Time             End Time
0            0   unknown  04/10/2022 08:38  2022-10-06 14:38:00
1            1   unknown  28/09/2022 01:17  2022-10-02 15:17:00
2            2   unknown  22/12/2022 09:57  2022-12-29 17:57:00
3            3   unknown  04/03/2022 05:26  2022-03-13 11:26:00
4            4   unknown  12/11/2022 01:04  2022-11-16 15:04:00
5            5   unknown  17/01/2022 01:35  2022-02-01 20:35:00
6            6   unknown  08/06/2022 07:32  2022-06-15 00:32:00
7            7   unknown  10/10/2022 03:36  2022-10-20 07:36:00
8            8   unknown  17/06/2022 10:02  2022-06-18 07:02:00
9            9   unknown  22/08/2022 03:31  2022-09-01 17:31:00
10          10   unknown  16/08/2022 04:15  2022-08-23 16:15:00
11          11   unknown  09/01/2022 09:12  2022-01-13 14:12:00
12          12   unknown  17/06/2022 01:43  2022-06-21 21:43:00
13          13   unknown  20/11/2022 04:50  2022-11-22 15:50:00
14          14   unknown  20/10/2022 02:28  2022-10-25 22:28:00
15          15   unknown  25/08/2022 02:14  2022-09-01 05:14:00
16          16   unknown  15/01/2022 11:24  2022-01-16 04:24:00
17          17   unknown  01/03/2022 04:51  2022-03-10 13:51:00
18          18   unknown  22/07/2022 11:25  2022-07-24 23:25:00
19          19   unknown  19/08/2022 03:40  2022-08-24 12:40:00
20          20   unknown  24/06/2022 08:28  2022-06-28 19:28:00
21          21   unknown  09/05/2022 09:13  2022-05-10 16:13:00
22          22   unknown  26/11/2022 05:22  2022-12-08 03:22:00
23          23   unknown  21/03/2022 01:00  2022-03-26 22:00:00
24          24   unknown  15/04/2022 05:15  2022-04-21 23:15:00
25          25   unknown  21/05/2022 06:33  2022-05-22 02:33:00
26          26   unknown  07/05/2022 06:09  2022-05-13 01:09:00
27          27   unknown  16/07/2022 08:35  2022-07-17 15:35:00
28          28   unknown  11/03/2022 10:30  2022-03-11 12:30:00
29          29   unknown  11/08/2022 01:38  2022-08-14 06:38:00

In [26]:
#excluindo os usuarios que possuem valores nulos, pois sem o valor das horas, não relacionar os datasets
df_time = df_time.dropna(subset= ['Hora Termino', 'Data Termino'])
df_time.shape

(75, 6)

In [27]:
df['Start Time'] = pd.to_datetime(df['Start Time'], format='%d/%m/%Y %H:%M')
df['End Time'] = pd.to_datetime(df['End Time'], format='%Y-%m-%d %H:%M:%S')

df['Data Inicio'] = df['Start Time'].dt.date 
df['Hora Inicio'] = df['Start Time'].dt.time

df['Data Termino'] = df['End Time'].dt.date
df['Hora Termino'] = df['End Time'].dt.time

df.drop(columns=['Start Time', 'End Time'], inplace = True)
df.head(10)

   Unnamed: 0 User Name Data Inicio Hora Inicio Data Termino Hora Termino
0           0   unknown  2022-10-04    08:38:00   2022-10-06     14:38:00
1           1   unknown  2022-09-28    01:17:00   2022-10-02     15:17:00
2           2   unknown  2022-12-22    09:57:00   2022-12-29     17:57:00
3           3   unknown  2022-03-04    05:26:00   2022-03-13     11:26:00
4           4   unknown  2022-11-12    01:04:00   2022-11-16     15:04:00
5           5   unknown  2022-01-17    01:35:00   2022-02-01     20:35:00
6           6   unknown  2022-06-08    07:32:00   2022-06-15     00:32:00
7           7   unknown  2022-10-10    03:36:00   2022-10-20     07:36:00
8           8   unknown  2022-06-17    10:02:00   2022-06-18     07:02:00
9           9   unknown  2022-08-22    03:31:00   2022-09-01     17:31:00

In [58]:
resultado = pd.concat([df.drop('User Name', axis = 1), df_time['Usuario']], axis =1)
type(resultado)

pandas.core.frame.DataFrame

In [64]:
resultado.dropna(subset='Usuario', inplace= True)
resultado.drop(columns= 'Unnamed: 0', inplace= True)

# resultado.to_excel("output_exc4.xlsx",index=False)
resultado.head()

  Data Inicio Hora Inicio Data Termino Hora Termino   Usuario
0  2022-10-04    08:38:00   2022-10-06     14:38:00     Luana
1  2022-09-28    01:17:00   2022-10-02     15:17:00       Eva
2  2022-12-22    09:57:00   2022-12-29     17:57:00  Fernanda
4  2022-11-12    01:04:00   2022-11-16     15:04:00     Anita
5  2022-01-17    01:35:00   2022-02-01     20:35:00       Lia