In [1]:
import pandas as pd

df = pd.read_excel("C:/Users/danie/Downloads/Teste Estagio/Teste_Phyton/Input_Teste_Python_Dados Exercicio 4 I.xlsx")
df_time = pd.read_excel("C:/Users/danie/Downloads/Teste Estagio/Teste_Phyton/Input_Teste_Python_Dados Exercício 4 II.xlsx")

In [2]:
#excluindo os usuarios que possuem valores nulos, pois sem o valor das horas, não relacionar os datasets
df_time = df_time.dropna(subset= ['Hora Termino', 'Data Termino'])
df_time.shape

(75, 6)

In [3]:
df['Start Time'] = pd.to_datetime(df['Start Time'], format='%d/%m/%Y %H:%M')
df['End Time'] = pd.to_datetime(df['End Time'], format='%Y-%m-%d %H:%M:%S')

df['Data Inicio'] = df['Start Time'].dt.date 
df['Hora Inicio'] = df['Start Time'].dt.time

df['Data Termino'] = df['End Time'].dt.date
df['Hora Termino'] = df['End Time'].dt.time

df.drop(columns=['Start Time', 'End Time'], inplace = True)
df.head()

   Unnamed: 0 User Name Data Inicio Hora Inicio Data Termino Hora Termino
0           0   unknown  2022-10-04    08:38:00   2022-10-06     14:38:00
1           1   unknown  2022-09-28    01:17:00   2022-10-02     15:17:00
2           2   unknown  2022-12-22    09:57:00   2022-12-29     17:57:00
3           3   unknown  2022-03-04    05:26:00   2022-03-13     11:26:00
4           4   unknown  2022-11-12    01:04:00   2022-11-16     15:04:00

In [4]:
resultado = pd.concat([df.drop('User Name', axis = 1), df_time['Usuario']], axis =1)

In [5]:
resultado.dropna(subset='Usuario', inplace= True)
resultado.drop(columns= 'Unnamed: 0', inplace= True)

resultado.to_excel("output_exc4.xlsx",index=False)